
    body {
        background-color: aqua;
        color: blue;
    }
    header {
        background-color: rgb(red, green, blue);
    }
    nav {
        background-color: aliceblue;
    }
